{% extends 'movies/base.html' %}

{% block content %}
<div class="container">
    <div class="static-page-content">
        <h1 class="section-title">О проекте easybase</h1>
        <p>
            Добро пожаловать на наш онлайн-каталог фильмов easybase! easybase создан для демонстрации 
            возможностей веб-фреймворка Django.
        </p>
        
        <h2>Наша коллекция</h2>
        <p>
            Мы постоянно работаем над расширением нашей базы данных. На данный момент в нашей коллекции уже 
            <strong>{{ movie_count }}</strong> опубликованных фильмов от <strong>{{ director_count }}</strong> 
            талантливых режиссёров.
        </p>

        <p>
            Здесь вы можете найти информацию о ваших любимых фильмах, узнать о режиссёрах и открыть для себя 
            что-то новое. Приятного просмотра!
        </p>
    </div>
</div>
{% endblock content %}