body {
    font-family: 'Inter', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header {
    background-color: #222;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items:first baseline;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.logo span {
    color: #4a90e2;
}

.main-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    margin-right: 10px;
}

.main-nav ul li a {
    color: #fff;
    text-decoration: none;
}

.main-content {
    padding: 20px;
}

.movies-section {
    padding: 20px 0;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section-title {
    font-size: 2em;
    margin: 0;
}

.view-all {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.view-all i {
    margin-left: 5px;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.movie-card {
    background-color: #222;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
    transform: scale(1.05); /* Увеличение размера на 5% */
}

.movie-poster {
    width: 100%;
    height: 200px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.poster-placeholder {
    font-size: 3em;
    color: #888;
}

.movie-info {
    text-align: center;
}

.movie-title {
    margin: 0;
    font-size: 1.5em;
}

.movie-genre {
    display: block;
    margin: 5px 0;
    color: #888;
}

.movie-desc {
    margin: 5px 0;
}

.btn-details {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.site-footer {
    background-color: #222;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-brand {
    display: flex;
    align-items: center;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.copyright {
    margin-top: 10px;
}


.form-group {
    margin-bottom: 30px;
}

